
#readmorebtn1:hover{
    background-color: brown;
    color: white;
    border-radius: 20px;
}
#readmorebtn2:hover{
    background-color: brown;
    color: white;
    border-radius: 20px;
}
#readmorebtn3:hover{
    background-color: brown;
    color: white;
}
#readmorebtn1, #readmorebtn2, #readmorebtn3{
    border-radius: 20px;
}

.card-body{
    border-radius: 30px;
}

.card-body:hover{
    background-color: green;
    border-radius: 30px;
}
.card:hover{
    border-radius: 40px;
}
.col-md{
    border-radius: 40px;
}

button:hover{
    background-color: crimson;
}
#joinusbtna{
    text-decoration:none;
    color:white;
}
#joinusbtna:hover{
    background-color: white;
    color: black;
}
#joinusbtn:hover{
    background:white;
    color: black;
}
#dontmissbtn1:hover{
    background-color: green;
    color: red;
}

#dontmissbtn2, #dontmissbtn3, #dontmissbtn4{
    text-decoration: none;
    color: white;
    background-color: green;
}
#holder1{
    border-radius: 30px;
}
#holder2{
    border-radius: 30px;
}
#holder3{
    border-radius: 30px;
}
#holder4{
    border-radius: 30px;
}

#div2container1{
    border-radius: 30px;
}


