
#body{
  background-color: darkgrey;
  justify-content: space-between;

}

#card_deck{
    border: 5px solid black;
    display: inline-block;
    margin: 2% 3%;
    height: 500px;
    overflow: hidden;
    border-radius: 40px;
}
#card_body: hover{
    background-color: green;
}

#card_img{
    height: 50%;
}

#card_body{
    height: 50%;
    background-color: lightgrey;
    text-align: center;
    margin: none;
}
a{
    text-decoration: none;
}
#body_1{
    height: 10%;
    overflow: hidden;
}
#body_2{
    height: 30%;
    overflow: hidden;
    }

#body_3,#body_4,#body_5{
    height: 20%;
    overflow: hidden;
}


