
#table{
    margin-right: 10%;
    border-collapse: collapse;
    border: 5px solid black;
}
.table-heading{
    background-color: blue;
    color: red;
    padding: 10px;
}
.table-data{
    background-color: darkgrey;

}
a:link {
  text-decoration: none;
}
#joinworker{
    display: inline-block;
    justify-content: right;
}
#availableWorkers{
    display: inline-block;
    justify-content: center;
    text-align: center;

    margin: auto;
    width: 100%;
    padding: 10px;

}


