body{
    margin: 0;
    font-size: 25px;
    padding: 0;

}

.main-container{
    height: 100%;
    position: relative;
    background-color: green;
}
.main-header{
    height: 60px;
    
}

#website-heading{
    background-color: rgb(83, 83, 83);
    padding-left: 60px;
    width: 20%;
    height: 60px;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    
}
#website-heading h3{
    margin-top: 15px;
    
}
#website-heading a{
    text-decoration: none;
    font-size: 20px;
    color: lime; 
}
#website-heading a:hover{
    color: white;
}

#navbar{
    background-color: rgb(83, 83, 83);
    color: white;
    margin: 0;
    width: 80%;
    height: 60px;
    box-sizing: border-box;
    display: inline-block;
    float: right;

}

#navbar ul{
    list-style: none;
    margin-left: 20%;
}
#navbar li{
    display: inline-block;
    margin-left: 8%;

}
#navbar a{
    text-decoration: none;
    color: white;
}
#navbar a:hover{
    color: limegreen;
}

.container{
    height: 700px;
    width: 100%;
    background-color: red;
    border: solid yellow 5px;
    box-sizing: border-box;
}
#container-A{
    background-image: url("container-A-bg.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
    text-align: center;
    padding: 10% 10%;
}
#container-A h4{
    font-weight: bolder;
    color: blue;
    letter-spacing: 3px;
}
#container-A p{
    color: white;
    letter-spacing: 2px;
    word-spacing: 3px;
}
#container-B-1{
    background-image: url("container-B-1-bg.jpg");
    width: 60%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    
}
#container-B-2{
    background-color: grey;
    width: 40%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    float: right;
    text-align: center;
}
#container-B-2 h3{
    margin:30% 10% 0 10%;
    border-bottom: 5px solid blue;
    border-radius: 10px;
    padding-bottom: 10px;
    letter-spacing: 2px;
    word-spacing: 3px;
    color: white;
    
}
#container-B-2 p{
    margin:5% 10%;
    letter-spacing: 2px;
    word-spacing: 8px;
    color: yellow;
}
#container-B-2 button{
    width: 20%;
    height: 5%;
    margin-left: 3%;
    border-radius: 25px;
    border: 2px darkgreen solid;
    background-color: green;
    color: white;
}
#container-B-2 button:hover{
    background-color: darkblue;
    border-color: darkblue;
    color: white;
}
#container-C{
    height: 300px;
}
.contained-C{
    width: 33.3%;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
}
#container-C-1{
    background-image: url("offers-1.png");
    background-size:100% 100% ;
    float: left;
}
#container-C-2{
    float: left;
}
#container-C-3{
    background-image: url("discount-1.png");
    background-size: 100% 100%;
    float: right;
}
    




