{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static '/css/aboutusstyles.css' %}">

<div class="about-section">
  <h1><span class="text-success">AGRO</span>  <span class="text-warning">NEPAL</span> </h1>
  <p>Agro Nepal is a national service corporation, which believes in collectivism to solve national problems.</p>
  <p>The main goal of Agro Nepal is to uplift the condition of the Nepalese Agriculture. To do this, we have been
  travelling to rural parts of Nepal, where majority of Nepalese farmers reside, to teach them about modern ways of
  agriculture and the importance of agriculture in Nepal.</p>
</div>


<div class="row bg-secondary md">
  <h2 class="text-center">Our Team</h2>
  <div class="column md">
    <div class="card">
      <img src="{% static '/images/team-1.jpg' %}" alt="Aryan" style="width:100%;max-height:80%">
      <div class="container">
        <h2>Aryan Pokharel</h2>
        <p class="title">CEO & Founder</p>
        <p>Mr.Aryan is the founder and CEO of Agro Nepal.</p>
        <p>aryanpokharel417@gmai.com</p>
        <div class="h1 mb-3 px-5">
          <a class="px-2" href="https://www.facebook.com/index.php"><i class="bi bi-facebook"></i></a>
          <a class="px-2" href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
          <a class="px-2" href="https://twitter.com/?lang=en"><i class="bi bi-twitter"></i></a>
          <a class="px-2" href="https://github.com/aryanPokharel/stw-final_assignment-developing-the-modern-web_Agro-Nepal"><i class="bi bi-github"></i></a>

        </div>
      </div>
    </div>
  </div>

  <div class="column md">
    <div class="card">
      <img src="{% static '/images/team-1.jpg' %}" alt="Saugat" style="width:100%;max-height:80%">
      <div class="container">
        <h2>Saugat Kunwar</h2>
        <p class="title">Art Director</p>
        <p>Mr.Saugat is the leading Art Director of Agro Nepal.</p>
        <p>saugatkunwar@gmail.com</p>
        <div class="h1 mb-3 px-5">
          <a class="px-2" href="https://www.facebook.com/profile.php?id=100004989498034"><i class="bi bi-facebook"></i></a>
          <a class="px-2" href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
          <a class="px-2" href="https://twitter.com/?lang=en"><i class="bi bi-twitter"></i></a>
          <a class="px-2" href="https://github.com/"><i class="bi bi-github"></i></a>

        </div>
      </div>
    </div>
  </div>

  <div class="column md">
    <div class="card">
      <img src="{% static '/images/team-1.jpg' %}" alt="Manish" style="width:100%;max-height:80%">
      <div class="container">
        <h2>Manish Gautam</h2>
        <p class="title">Designer</p>
        <p>Mr.Manish is the lead designer here at Agro Nepal.</p>
        <p>manishgautam@gmail.com</p>
        <div class="h1 mb-3 px-5">
          <a class="px-2" href="https://www.facebook.com/hreedhann2000" style="text-decoration: none;"><i class="bi bi-facebook"></i></a>
          <a class="px-2" href="https://www.instagram.com/" style="text-decoration: none;"><i class="bi bi-instagram"></i></a>
          <a class="px-2" href="https://twitter.com/?lang=en" style="text-decoration: none;"><i class="bi bi-twitter"></i></a>
          <a class="px-2" href="https://github.com/" style="text-decoration: none;"><i class="bi bi-github"></i></a>

        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}