{% extends 'base.html' %}

{% load static %}

{% block content %}

    <link type="text/css" rel="stylesheet" href="{% static '/css/productstyles.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous">



<a href='postautomobile.html'>
    <button>Post an automobile</button>
</a>
<h2> Available Automobiles </h2>

<div id="body">
{% for automobile in automobiles %}

<div class="card-deck" style="width: 25rem;" id="card_deck">

    <img class="card-img-top" src="/{{automobile.image}}" alt="Card image cap" id="card_img">
    <div class="card-body" id="card_body">
        <div id="body_1">
            <h5 class="card-title">{{automobile.name}}</h5>
        </div>

        <div id="body_2">
            <p class="card-text">{{automobile.description}}</p>
        </div>

        <div id="body_3">
            <h3>Price($): {{automobile.price}}</h3>
        </div>

        <div id="body_4">
            {% if automobile.status == 'available' %}
            <h3 class="text-success fw-bold">
                {{automobile.status}}
            </h3>
            {% else %}
            <h3 class="text-danger fw-bold">
                {{automobile.status}}

                {% endif %}
            </h3>
        </div>

        <div id="body_5">
            <a href='#'>
                <button>Update</button>
            </a>
            <a href='#'>
                <button>Delete</button>
            </a>
        </div>

    </div>
</div>

{% endfor %}
</div>


{% endblock %}

