{% extends 'base.html' %}

{% load static %}

{% block content %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">



    <link rel="stylesheet" type="text/css" href="{% static '/css/feedbacksStyles.css' %}">

        <h2 class="text-center">Feedbacks and Querries!</h2>
<div class="container">
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}

        <label>Your Name : </label>
        {{form.name}}<hr>
        <label>Email : </label>
        {{form.email}}
        <hr>
        <label>Message for us : </label>
        {{form.message}}
        <hr>
        <label>Select your remarks : </label>
        {{form.remarks}}
        <hr>

        <button type="submit" value="Submit">Submit!</button>
        <button type="reset">Reset</button>
</form>

</div>
    <script src="{% static '/javascript/feedbacks.js' %}"></script>

{% endblock content %}