{% extends 'base.html' %}

{% load static %}


{% block content %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous">

<h1 class="text-center">Welcome Aborad The Insiders' Club!</h1>
<div class="container" style="padding: 1% 0% 5% 33%; background-color: cyan;">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group mt-5">
            <label class="text-primary">First Name : </label><br>
            <input type="text" name="first_name" placeholder="First Name"><br>

        </div>

        <div class="form-group mt-5">
            <label class="text-primary">Last Name : </label><br>
            <input type="text" name="last_name" placeholder="Last Name"><br>

        </div>

        <div class="form-group mt-5">
            <label class="text-warning">Your Username : </label><br>
            <input type="text" name="username"><br>
            <small id="usernameHelp" class="form-text text-muted">Make sure that you remember this username!</small>
        </div>

        <div class="form-group mt-5">
            <label class="text-primary">Email : </label><br>
            <input type="text" name="email" placeholder="Your Email"><br>
        </div>


        <div class="form-group mt-5">
            <label class="text-danger">Your Password : </label><br>
            <input type="password" name="password1"><br>
        </div>

        <div class="form-group mt-5">
            <label class="text-danger">Confirm Password : </label><br>
            <input type="password" name="password2"><br>
            <small id="passwordHelp" class="form-text text-muted">Never share your password!</small>
        </div>

        <button type="submit" class="btn btn-success mt-4">Submit</button>
        <button type="reset" class="btn btn-secondary mt-4">Reset</button>

    </form>
    <div class="container">
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
</div>


{% endblock %}