{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/css/learnstyles.css' %}" type="css/text">

<div class="container">

    <div class="container bg-info p-3" id="main_container">
        <h2 class="heading text-success text-center fw-bold">Nepal and Agriculture</h2>
        <p class="paragraph text-light text-center">Nepal is an agricultural country having 66 percent people directly
            engaged in farming. Farming is subsistent in nature and crop is mostly integrated with livestock.

            Nepal is richly endowed with agro-biodiversity. Rice, maize, millet, wheat, barley and buckwheat are the
            major staple food crops. Similarly, oilseeds, potato, tobacco, sugarcane, jute and cotton are the important
            cash crops whereas lentil, gram, pigeon pea, blackgram, horsegram and soyben are the important pulse crops.
            Nepal is also famous for orthodox tea, large cardamom, turmeric and zinger too. Most Nepalese farmers grow
            diversified crops in order to hedge against erratic and uncertain weather and other unfavourable agronomic
            conditions.

            Livestock is one of the important sources of cash income of the farm households. Livestock products which
            are sold for cash.
        </p>
        <p class="paragraph text-light text-center">
            The cash needs of the farm families are mainly met through the sale of milk, yoghurt, cheese, ghee, Chhurpi,
            meat, egg and live animals and poultry. Generally, farm families in mountains raise Yak or Chauri (Himalayan
            breed of cow) and sheep, in hills cow, sheep, goat and rural poultry and in Terai buffalo, cow, goat and
            poultry. Poultry husbandry is emerging enterprise in Terai and hills. Human and animal labours are major
            sources of farm power.

            In addition, Nepal grows a number of fruit and vegetable crops. Some important ones are Apple,
            peach, pear, plum, walnut, orange, lime, lemon, mango, lichi, banana, pineapple,
            papaya, cucumber, lady’s finger, brinjal, pumpkin and several leafy vegetables.</p>
    </div>

    <h2 class="heading text-warning">These are the important aspects of Nepalese Agriculutre.</h2>

    <ul class="list-group">
        <li class="list-group-item list-group-item-action list-group-item-primary">Cultivation</li>
        <li class="list-group-item list-group-item-action list-group-item-secondary">Fish Farming</li>
        <li class="list-group-item list-group-item-action list-group-item-success">Horticulture</li>
        <li class="list-group-item list-group-item-action list-group-item-warning">Livestocks</li>

        <li class="list-group-item list-group-item-action list-group-item-info">Meat and milk production</li>
        <li class="list-group-item list-group-item-action list-group-item-secondary">Pollutry</li>
        <li class="list-group-item list-group-item-action list-group-item-primary">Seeds cultivation</li>
        <li class="list-group-item list-group-item-action list-group-item-success">Honey production</li>
    </ul>
    <!-- History section -->
    <h2>History of Nepalese Agriculture</h2>
    <div class="container">
        <p>The production of crops fluctuated widely as a result of these factors as well as weather conditions.
            Although agricultural
            production grew at an average annual rate of 2.4 percent from 1974 to 1989, it did not keep pace with
            population growth,
            which increased at an average annual rate of 2.6 percent over the same period. Further, the annual average
            growth rate of
            food grain production was only 1.2 percent during the same period.
        </p>
        <p>
            There were some successes. Fertile lands in the Terai Region and hardworking peasants in the Hill Region
            provided greater supplies of
            food staples (mostly rice and corn), increasing the daily caloric intake of the population locally to over
            2,000 calories
            per capita in 1988 from about 1,900 per capita in 1965. Moreover, areas with access to irrigation facilities
            increased from
            approximately 6,200 hectares in 1956 to nearly 583,000 hectares by 1990.

            Rice is the most important cereal crop. In 1966 total rice production amounted to a little more than 1
            million tons; by 1989 more than 3
            million tons were produced.
        </p>
        <p>
            Fluctuation in rice production was very common because of changes in rainfall; overall, however,
            rice production had increased following the introduction of new cultivation techniques as well as increases
            in cultivated land. By 1988 approximately 3.9 million hectares of land were under paddy cultivation. Many
            people in Nepal devote their lives to cultivating rice to survive. In 1966 approximately 500,000 tons of
            corn, the second major food crop, were produced.
            By 1989 corn production had increased to over 1 million tons.</p>
    </div>
    <!--    Photo Gallery   -->
    <div class="header text-center fw-bold text-danger">Photo Gallery</div>
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img
                    src="{% static '/images/gallery-1.jpeg' %}"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt=""
            />

            <img
                    src="{% static '/images/gallery-2.jpg' %}"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt=""
            />
            <img
                    src="{% static '/images/gallery-7.jpg' %}"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt=""
            />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img
                    src="{% static '/images/gallery-3.png' %}"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt=""
            />

            <img
                    src="{% static '/images/gallery-4.jpg' %}"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt=""
            />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img
                    src="{% static '/images/gallery-5.jpg' %}"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt=""
            />

            <img
                    src="{% static '/images/gallery-6.jpg' %}"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt=""
            />

            <img
                    src="{% static '/images/gallery-8.jpg' %}"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt=""
            />
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">


        </div>
    </div>


    <!--    Agriculture video play   -->
    <h2 class="justify-content-lg-center text-center">A Documentry on Nepalese Agriculture:</h2>
    <div class="row d-flex justify-content-lg-center container container-lg p-4">
        <div class="col-md-6">
            <video width="109%" height="100%" controls>
                <source src="{% static '/videos/documentry.mp4' %}" type="video/mp4">
                <source src="{% static '/images/gallery-6.jpg' %}" type="video/ogg">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>

    <!--    Useful youtube video    -->
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/DoVGbPa0jHw"
                    title="YouTube video player"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>

            </iframe>
        </div>
    </div>


    <h2 class="heading text-danger d-inline mt-3">MoA Report: </h2>
    <a href="/ministry_report/" target="_blank">
        <button class="border border-rounded">Read Pdf</button>
    </a>

    <!--   Form section for students -->
    <h2>If you're interested for our trainings, why not <a class="link-warning;" href="/students/" target="_blank">drop
        a request</a>?!</h2>


</div>


{% endblock %}