<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn</title>
</head>
<body>
    <h2>Nepal and Agriculture</h2>
    <p>Nepal is an agricultural country having 66 percent people directly engaged in farming. Farming is subsistent in nature and crop is mostly integrated with livestock.

Nepal is richly endowed with agro-biodiversity. Rice, maize, millet, wheat, barley and buckwheat are the major staple food crops. Similarly, oilseeds, potato, tobacco, sugarcane, jute and cotton are the important cash crops whereas lentil, gram, pigeon pea, blackgram, horsegram and soyben are the important pulse crops. Nepal is also famous for orthodox tea, large cardamom, turmeric and zinger too. Most Nepalese farmers grow diversified crops in order to hedge against erratic and uncertain weather and other unfavourable agronomic conditions.

Livestock is one of the important sources of cash income of the farm households. Livestock products which are sold for cash. The cash needs of the farm families are mainly met through the sale of milk, yoghurt, cheese, ghee, Chhurpi, meat, egg and live animals and poultry. Generally, farm families in mountains raise Yak or Chauri (Himalayan breed of cow) and sheep, in hills cow, sheep, goat and rural poultry and in Terai buffalo, cow, goat and poultry. Poultry husbandry is emerging enterprise in Terai and hills. Human and animal labours are major sources of farm power.

In addition, Nepal grows a number of fruit and vegetable crops. Some important ones are Apple,
        peach, pear, plum, walnut, orange, lime, lemon, mango, lichi, banana, pineapple,
        papaya, cucumber, lady’s finger, brinjal, pumpkin and several leafy vegetables.</p>
<ul>
    <h2>These are the important aspects of Nepalese Agriculutre.</h2>
    <li>Cultivation</li>
    <li>Fish Farming</li>
    <li>Horticulture</li>
    <li>Livestocks</li>
    <li>Meat and milk production</li>
    <li>Pollutry</li>
    <li>Seeds cultivation</li>
    <li>Honey production</li>
</ul>

</body>
</html>