{% extends 'base.html' %}

{% load static %}

{% block content %}


<link rel="stylesheet" type="text/css" href="{% static '/css/feedbacksStyles.css' %}">

<div id="alternateBody">
    <h2 class="text-center text-light"><span class="text-success">Feedbacks</span> and <span class="text-warning">Querries</span>   !</h2>
    <div class="container ml-5 p-2 bg-image" id="mainContainer">
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}


            <div class="row mt-3">
                <div class="col text-light">
                    <label>Your Name:</label>
                    <input name="name" type="text" id="name" class="form-control" placeholder="Full Name">
                </div>
                <div class="col text-light">
                    <label>Your Email:</label>
                    <input name="email" type="text" id="email" class="form-control" placeholder="Email">
                </div>

            </div>
            <div class="row mt-3">
                <div class="col text-light">
                    <label>Message for us : </label>
                    <textarea name="message" class="form-control" id="message" rows="3"
                              placeholder="Some message for us"></textarea>
                </div>
            </div>

            <div class="form-group mt-3 text-light">
                <label for="remarksSelector">Remarks:</label>
                <select class="form-control" name="remarks" id="remarksSelector">
                    <option>Epic</option>
                    <option>Good</option>
                    <option>Fine</option>
                    <option>Bad</option>
                    <option>Pathetic</option>
                </select>
            </div>
            <div class="container pt-5" id="btnholder">
                <button class="button p-2" type="submit" value="Submit" id="submitbtn"><i class="bi bi-upload"></i>
                    Submit
                </button>
                <button class="button p-2" type="reset" id="resetbtn"><i class="bi bi-bootstrap-reboot"></i>  Reset
                </button>
            </div>

        </form>
        <div class="container" id="innerDiv">

        </div>


    </div>

    <script src="{% static '/javascript/feedbacks.js' %}"></script>
</div>


{% endblock content %}
