{% extends 'base.html' %}

{% load static %}

{% block content %}


<link type="text/css" rel="stylesheet" href="{% static '/css/workersstyles.css' %}">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous">


<h2 class="text-center" id="availableWorkers">Available Workers</h2>
<a class="justify-contetn-right" id="joinworker" href='addworker/'>
    <button>Join as Worker</button>
</a>
<div class="container">
    <table class="table table-sm table-hover table-success" id="table">
        <tr class="table-row table-primary">
            <th class="table-heading">ID</th>
            <th class="table-heading">Name</th>
            <th class="table-heading">Email</th>
            <th class="table-heading">Rate ($)</th>
            <th class="table-heading">Status</th>
            <th class="table-heading">Actions</th>
        </tr>

        {% for worker in workers %}
        <tr class="table-row">
            <td class="table-data">{{worker.id}}</td>
            <td class="table-data">{{worker.name}}</td>
            <td class="table-data">{{worker.email}}</td>
            <td class="table-data">{{worker.rate}}</td>

            {% if worker.status == 'available' %}

            <td class="table-data text-success">{{worker.status}}</td>

            {% else %}
            <td class="table-data text-danger">{{worker.status}}</td>
            {% endif %}
            <td class="table-data">
                {% if worker.status == 'available' %}
                {% if user.is_authenticated %}
                <a href='#'>
                    <button>Hire</button>
                </a>
                {% else %}
                <a href="/insiders/">Only Insiders Can Hire</a>
                {% endif %}
                {% else %}
                <h2>----</h2>
                {% endif %}
            </td>
        </tr>

        {% endfor %}

    </table>
</div>


{% endblock %}

